@using NETCoreMVCwithMSGraph.Controllers

@model List<SectionViewModel>
@{
    string controller = $"{ViewContext.RouteData.Values["controller"]}";
 

   
    var viewContext = ViewContext;

 
    var routeData = viewContext.RouteData;

  
    var notebookId = routeData.Values["Id"];


}
<style>
    .list-group-item {
       
        width: 800px;
        line-height: 80px;
    }

    a {
        color: black;
        text-decoration: none;
    }
    body {
        background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/pipes.png');
      
     
    }
</style>
<body>
    
 

     <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2 class="text-center mb-4">Sections List</h2>
          <div class="list-group">
           
                    
                    

@if(Model==null)
{
    <p>Model is null</p>
}
 else if (Model.Count == 0)
{
    <p>You have no sections.</p>
}
else
{
    <ul>
        <p> @Model.Count Sections in total </p>
        
  

                            @foreach (var sectionbook in Model)
                            {


                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a asp-area="" asp-controller="Page" asp-action="OneNotePagesCatalogue" asp-route-id="@sectionbook.Id">@sectionbook.Name</a>
                                        <span>@sectionbook.CreatedDateTime.ToString("yyyy-MM-dd HH:mm")</span>

                                    </div>
                                </li>



                            }

    </ul>
}
                  
          </div>
          <div class="text-center mt-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newSectionModal">
              New Section
            </button>
          </div>
        </div>
      </div>
    </div>

  

    <div class="modal fade" id="newSectionModal" tabindex="-1" aria-labelledby="newSectionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newSectionModalLabel">Create New Section</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-controller="Section" asp-action="AddNewSection">
                        <div class="mb-3">
                            <label for="sectionName" class="col-form-label" >Section Name:</label>
                            <input type="text" class="form-control" id="sectionName" name="sectionName" required>
                        </div>
                        <input type="hidden" name="notebookId" value="@notebookId" />
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" >Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

   
    <script>
        function setNotebookId() {
            var notebookId = getNotebookIdFromRoute(); 
            document.getElementById("notebookId").value = notebookId;
            notebookId=notebookId;
        }
        setNotebookId();
        function getNotebookIdFromRoute() {
          
            var url = window.location.href;
            var notebookId = url.substring(url.lastIndexOf('/') + 1);
            return notebookId;
        }
    </script>

</body>